:root {
	--accent-color-hue: 236;
	--accent-color-saturation: 100%;
	--disabled-color: #cfcfcf;
	--error-color: #d40000;
	--text-color:
}


*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family:    'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,body,#root {
	height: 100%;
}
body {
	background-color: #405060;
}

a { text-decoration: none;
	 color:  black;
 }

button {
	padding:10px  10px;
}

